* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.section-container{
  display: flex;
  flex-direction: column;

}
.gradie{
  margin: 0 auto;
  text-align: center;
  background-color: #012431;
  height: 65%;
}
.gradie img {
  width: 100%;
  margin-top: -12rem;
}
.gradie div{
  margin-top: 4rem;

}
.gradie h2{
  color: #ffffff;
  font-size: 2.5rem;
  letter-spacing: .07rem;
}
.gradie p{
color: #88c1d5;
font-size: 1.1rem;
letter-spacing: .07rem;
padding: .5rem 0;
}
.email{
  padding: 1rem 0;
}
.login{
  margin: 0 auto;
  width: 100%;
  height: 65%;
  
}
.login div{
  width: 70%;
  margin: 0 auto;

padding: 1.5rem 0;

}
.login h2 {
    color: #012431;
  font-size: 2rem;
  margin: 1.8rem 0;
}

#password, #email{
  padding: 1rem 0;
  margin: 1rem 0;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
}
#password::placeholder, #email::placeholder{
  padding: 0 1rem;
}
.box{
  display: flex;
  width: 80%;
  margin: 1rem 1rem 1rem 0;
}
.box p{
  font-weight: lighter;
  color: #000;
}
.checkbox{
  margin-right: 1.2rem;
  height: 1.1rem;
  width: 1.1rem;
}
span a{
  color: #012431;
  letter-spacing: .07rem;
  font-weight: bold;
}
button{
  width: 100%;
  height: 3rem;
  border-radius: 9px;
  border: 1px solid #012431;
background-color: #012431;
color: #fff;
}
button:active {
  background-color: #f192a9;
}

button:hover {
  background-color: black;
  cursor: pointer;
}

button:visited {
  background-color: darkslategrey;
}

button:link {
  background-color: #012431;
}
@media (min-width: 700px){
  body {
      background-image: url("asset/Background.png");
      background-repeat: repeat;
      background-position: center;
      position: relative;
    }
.container{
  width: 70%;
  margin: 6rem auto;
}
.login{
  background-color: #fff;
  height: 85%;
}
.checkbox {
  margin-right: 1rem;
  height: 1.1rem;
  width: 1.1rem;
}
button{
  margin: 2rem 0;
}}
@media (min-width: 992px) {
body {
    background-image: url("asset/Background.png");
    background-repeat: repeat;
    background-position: center;
    background-size: 500%;
  }
.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
background-color: #fff;
}
.gradie, .login{
  height: 10%;
  width: 50%;
}
.gradie{
  width: 54.5%;
}
}

